$globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  li {
    position: relative;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: rgba(137,214,41,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(137,214,41,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 { 
    // 0%, 100% { background: rgba(0,247,165,1);
    0%, 100% { background: var(--orange);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread var(--orange);} 
    50% { background: rgba(242,145,0,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(242,145,0,0.2);}
}
@keyframes flash-2 { 
    0%, 100% { background:var(--green);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(137,214,41,1);} 
    50% { background: rgba(137,214,41,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(137,214,41,0.2);}
}
@keyframes flash-3 { 
    0%, 100% { background: var(--pink);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(250, 110, 159,1);} 
    50% { background: rgba(250, 110, 159,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(250, 110, 159,0.2);}
}


/* Page */
@keyframes pulse {
  0% {
    background: red;
    transform: scale(1);
  }
  
  25% {
    background: darken(red, 10%);
    width: 25vw;
    height: 25vh;
    // transform: scale(3);
  }
  
  50% {
    background: red;
    width: 50vw;
    height: 50vh;
    border-radius: 25px;
    // transform: scale(1);
  }
  75% {
    background: red;
    width: 75vw;
    height: 75vh;
    // transform: scale(1);
  }
  100% {
    background: red;
    border-radius: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    left: 0;
    bottom: 0;

    // transform: scale(1);
  }
}

@keyframes mini {
  0% {
    border-radius: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    left: 0;
    bottom: 0;
  }
  25% {
    border-radius: 15px;
    width: 75vw;
    height: 75vh;
    z-index: unset;
    left: 5px;
    bottom: 5px;
  }
  
  50% {
    width: 50vw;
    height: 50vh;
    border-radius: 25px;
    left: 8px;
    bottom: 8px;
    // transform: scale(1);
  }
  75% {
    width: 25vw;
    height: 25vh;
    border-radius: 40px;
    left: 12px;
    bottom: 12px;
  }
  100% {
    border-radius: 50px;
    left: 15px;
    bottom: 15px;
    // transform: scale(1);
  }
}

.tips-btn {
    border-radius: 50px;
    bottom: 15px;
    height: 60px;
    left: 15px;
    position: fixed;
    width: 60px;

    &.active{
      align-items: flex-start !important;
      animation: 0.5s linear 1 pulse forwards;
      cursor: default !important;
      justify-content: flex-start !important;
      overflow-y: scroll;

      .tips-icon {
        display: none;
      }

      .tips-content {
        display: block !important;
      }
    }

    &.inactive {
      animation: 0.5s linear 1 mini forwards;
      overflow-y: hidden;
    }
}
.topic {
  background-color: #0C1E42;
}
.numeralia {

  h1 {
    color: var(--orange);
  }
  #duende {
    position: absolute;
    top: 100px;
    right: 10%;
    z-index: 99;
  }

  hr {
    border-top: 4px solid rgba(209, 196, 9, 0.8);
    box-shadow: 5px 6px 6px #888888;
    // height: 4px;
  }

  .col {
    max-height: unset;
    .card {
      // background-color: red;
      border: 5px dashed red;
      min-height: 160px;
      padding: 1px;

      .card-body {
        background-color: var(--green);
      }


      h5 {
        font-size: 5em;
        color: goldenrod;
        transform: rotate(-25deg);
      }

      &.first-card {
        p {
          padding-top: 15px;
        }
      }
    }
  }
  
}

