.img-container {
  background-size: 100vw 100vh;
  height: 65vh;
  background-image: url("../../assets/home/01.jpg");
}

.circles-container {
  bottom: 70px;
  height: 10vh;
  position: relative;
}

.card {
  border: unset;
}